.container {
    /* width: 100%; */
    /* background: red; */
    display: flex;
    flex-direction: column;
} 

.btn{
    padding: 6px;
    min-width: 30px;
}

button.btn-ac{
    min-width: 60px !important;
}

.input {
    padding: 6px;
}

@media only screen and (max-width : 600px) {
    .container {
        background: blue;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width : 250px) {
    .container {
        background: green;
        flex-direction: column;
    }
}